/* PLAYFAIR FONTS */

@font-face {
	font-family: playfairReg;
	src: url(../fonts/Playfair/reg.ttf);
}

@font-face {
	font-family: playfairItalic;
	src: url(../fonts/Playfair/regi.ttf);
}

@font-face {
	font-family: playfairSemiBold;
	src: url(../fonts/Playfair/semibold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/semiboldi.ttf);
}

@font-face {
	font-family: playfairBold;
	src: url(../fonts/Playfair/bold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/boldi.ttf);
}

@font-face {
	font-family: playfairExtraBold;
	src: url(../fonts/Playfair/ebold.ttf);
}

@font-face {
	font-family: playfairExtraBoldItalic;
	src: url(../fonts/Playfair/eboldi.ttf);
}

@font-face {
	font-family: playfairBlack;
	src: url(../fonts/Playfair/black.ttf);
}

@font-face {
	font-family: playfairBlackItalic;
	src: url(../fonts/Playfair/blacki.ttf);
}

/* LATO FONTS */

@font-face {
	font-family: lagoThin;
	src: url(../fonts/Lato/thin.ttf);
}

@font-face {
	font-family: lagoThinItalic;
	src: url(../fonts/Lato/thini.ttf);
}

@font-face {
	font-family: lagoLight;
	src: url(../fonts/Lato/light.ttf);
}

@font-face {
	font-family: lagoLightItalic;
	src: url(../fonts/Lato/lighti.ttf);
}

@font-face {
	font-family: lagoReg;
	src: url(../fonts/Lato/reg.ttf);
}

@font-face {
	font-family: lagoRegItalic;
	src: url(../fonts/Lato/regi.ttf);
}

@font-face {
	font-family: lagoBold;
	src: url(../fonts/Lato/bold.ttf);
}

@font-face {
	font-family: lagoBoldItalic;
	src: url(../fonts/Lato/boldi.ttf);
}

@font-face {
	font-family: lagoBlack;
	src: url(../fonts/Lato/black.ttf);
}

@font-face {
	font-family: lagoThinItalic;
	src: url(../fonts/Lato/blacki.ttf);
}

/* COLORS

#EEEFEA Light Gray
#DBDFD9 Medium Light Gray
#B6B9A3 Muted Green // 50 op #D0D1C2
#A69E70 Mossy Green // 50 op #C4BFA1
#766E3F Dark Mossy Green // 50 op #A59F80

*/

/* TEXT ELEMENTS */

body {
	margin: 0;
	height: 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	font-family: lagoReg;
  	color: white;
  	
}

a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-style: none;
	text-decoration-color: none;
}

/* NAVIGATION BAR */

nav {
	position: fixed;
	float: right;
	background-color: #A59F80;
	width: 100%;
	height: auto;
	text-align: center;
	overflow: auto;
}

nav h1 {
	font-family: lagoBlack;
	letter-spacing: 5px;
	font-size: 3rem;
	line-height: 1rem;
}

nav a {
	color: white;
	font-weight: bold;
	font-size: 1rem;
	margin: auto;
	line-height: 50px;
	padding: 10px;
	border-radius: 20px;
}

nav a.active {
	background-color: #F3F1E4;
	color: white;
	text-shadow:
    -1px -1px 0 #9fa9a3,
    1px -1px 0 #9fa9a3,
    -1px 1px 0 #9fa9a3,
    1px 1px 0 #9fa9a3;  
}

nav a:hover{
	background-color: #C4BFA1;
}

nav input[type=text] {
	padding: 0.5em;
	border: none;
	margin-left: 2em;
	font-size: 14px;
	border-radius: 15px;
	text-indent: 10px;
	background-color: #F3F1E4;
	color: gray;
}

nav select {
	display: none;
}
