/* PLAYFAIR FONTS */

@font-face {
	font-family: playfairReg;
	src: url(../fonts/Playfair/reg.ttf);
}

@font-face {
	font-family: playfairItalic;
	src: url(../fonts/Playfair/regi.ttf);
}

@font-face {
	font-family: playfairSemiBold;
	src: url(../fonts/Playfair/semibold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/semiboldi.ttf);
}

@font-face {
	font-family: playfairBold;
	src: url(../fonts/Playfair/bold.ttf);
}

@font-face {
	font-family: playfairBoldItalic;
	src: url(../fonts/Playfair/boldi.ttf);
}

@font-face {
	font-family: playfairExtraBold;
	src: url(../fonts/Playfair/ebold.ttf);
}

@font-face {
	font-family: playfairExtraBoldItalic;
	src: url(../fonts/Playfair/eboldi.ttf);
}

@font-face {
	font-family: playfairBlack;
	src: url(../fonts/Playfair/black.ttf);
}

@font-face {
	font-family: playfairBlackItalic;
	src: url(../fonts/Playfair/blacki.ttf);
}

/* LATO FONTS */

@font-face {
	font-family: lagoThin;
	src: url(../fonts/Lato/thin.ttf);
}

@font-face {
	font-family: lagoThinItalic;
	src: url(../fonts/Lato/thini.ttf);
}

@font-face {
	font-family: lagoLight;
	src: url(../fonts/Lato/light.ttf);
}

@font-face {
	font-family: lagoLightItalic;
	src: url(../fonts/Lato/lighti.ttf);
}

@font-face {
	font-family: lagoReg;
	src: url(../fonts/Lato/reg.ttf);
}

@font-face {
	font-family: lagoRegItalic;
	src: url(../fonts/Lato/regi.ttf);
}

@font-face {
	font-family: lagoBold;
	src: url(../fonts/Lato/bold.ttf);
}

@font-face {
	font-family: lagoBoldItalic;
	src: url(../fonts/Lato/boldi.ttf);
}

@font-face {
	font-family: lagoBlack;
	src: url(../fonts/Lato/black.ttf);
}

@font-face {
	font-family: lagoBlackItalic;
	src: url(../fonts/Lato/blacki.ttf);
}

/* HEEBO FONTS */

@font-face {
	font-family: heeboReg;
	src: url(../fonts/Heebo/reg.ttf);
}

@font-face {
	font-family: heeboMed;
	src: url(../fonts/Heebo/med.ttf);
}

@font-face {
	font-family: heeboSemiBold;
	src: url(../fonts/Heebo/semibold.ttf);
}

@font-face {
	font-family: heeboBold;
	src: url(../fonts/Heebo/bold.ttf);
}

@font-face {
	font-family: heeboExtraBold;
	src: url(../fonts/Heebo/ebold.ttf);
}

@font-face {
	font-family: heeboBlack;
	src: url(../fonts/Heebo/black.ttf);
}

/* BACK DIVS */
.divHeader {
	background-color: #A8A285;
	height: 200px;
	background-image: url('../header.png');
	text-align: center;
	line-height: 200px;
}

.divHeader h1 {
	font-family: playfairBlackItalic;
	font-size: 3rem;
}

.divOne {
	background-color: #D1D2C3;
	height: 100px;
}

.divTwo {
	background-color: #A8A285;
	height: 500px;
}

.divWave {
	background-image: url('../wave.jpg');
	height: 1000px;
	background-repeat: no-repeat;
}
/* COLORS

#EEEFEA Light Gray
#DBDFD9 Medium Light Gray
Muted Green #D0D1C2
Mossy Green #C4BFA1
Dark Mossy Green #A59F80

*/

/* TEXT ELEMENTS */

body {
	margin: 0;
	height: 100%;
	width: 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	font-family: lagoReg;
  	color: white;
  	
}

a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-style: none;
	text-decoration-color: none;
}

h1 {
	margin: 0;
}

/* NAVIGATION BAR */

#logo {
	margin: 0.8rem 0 0 0.5rem;
	width: 6rem;
	padding: 0.7rem;
	align-self: center;
	background-color: #8C876F;
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
}

#logoDiv {
	float: right;
	color: white;
	text-align: center;
	padding: 1rem 0rem 0rem 13rem;
	transition: 0.5s;
	position: absolute;
}

nav header {
	text-align: center;
	font-size: 3rem;
	font-family: playfairBlackItalic;
	letter-spacing: 6px;
	line-height: 3.5;
	color: #F3F1E6;
}

#navbar {
	display: flex;
	flex-direction: column;
	background-color: #8C876F ;
	position: fixed;
	width: 14rem;
	height: 100%;
	justify-content: flex-start;
	transition: 0.5s;
	text-align: left;
	margin-left: -13rem;
	line-height: 5;
	top: 0;
}

#navbar:hover {
	margin-left: 0;
}

.navlink {
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-family: lagoBold;
	color: white;
	transition: 0.5s;
	padding-left: 2rem;
	line-height: 4;
}

.navlink:hover {
	color: #F3F1E6;
	padding-left: 4rem;
	background-color: #74705C;
}

#navContainer2 {
	
	text-align: center;
	width: 100%;
}

.navtab {
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-family: lagoBold;
	width: 50%;
	color: white;
	transition: 0.5s;
	float: left;
	padding: 1rem 0 1rem 0;
	background-color: #A8A285;
}

.navtab:hover {
	color: #F3F1E6;
	background-color: #74705C;
	width: 50%;
}